/**
Author: yfgeek
**/
body {
  background-color: #f9f9f9; }

a {
  text-decoration: none !important; }

.header {
  box-shadow: 3px 3px 4px #eee;
  height: 60px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 200; }

.nav-subcontainer {
  margin-bottom: 0;
  margin-left: 260px;
  border: none;
  min-height: 60px;
  border-radius: 0;
  width: auto;
  -webkit-transition: margin-left .3s ease-in-out;
  -o-transition: margin-left .3s ease-in-out;
  transition: margin-left .3s ease-in-out; }

.logo {
  color: #e45329;
  border-bottom: 0 solid transparent;
  -webkit-transition: width .3s ease-in-out;
  -o-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  display: block;
  float: left;
  height: 60px;
  font-size: 1.1rem;
  line-height: 60px;
  text-align: center;
  width: 260px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  padding: 0 15px;
  font-weight: 300;
  overflow: hidden; }
  .logo .logo-lg {
    font-size: 1.3rem; }
    .logo .logo-lg b {
      font-weight: bold; }
  .logo .logo-mini {
    display: none; }

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 60px;
  min-height: 100%;
  width: 260px;
  z-index: 100;
  -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
  transition: transform .3s ease-in-out,width .3s ease-in-out; }
  .sidebar .sub-container {
    font-size: 0.9rem;
    background-color: #37414e;
    padding-top: 15px;
    padding-bottom: 10px; }
    .sidebar .sub-container ul {
      margin: 0;
      padding: 0;
      list-style: none;
      white-space: nowrap;
      overflow: hidden; }
      .sidebar .sub-container ul li {
        list-style: none;
        position: relative;
        margin: 0;
        padding: 0; }
        .sidebar .sub-container ul li a {
          color: #bdbdbd;
          display: block;
          padding: 12px 20px;
          margin: 2px 0;
          line-height: 1.3; }
          .sidebar .sub-container ul li a i {
            display: inline-block;
            font-size: 1rem;
            line-height: 17px;
            margin-left: 3px;
            margin-right: 15px;
            text-align: center;
            vertical-align: middle;
            width: 20px; }
        .sidebar .sub-container ul li .active {
          color: #ffffff !important;
          background-color: #313a46; }
    .sidebar .sub-container .title {
      border: 0;
      font-weight: normal;
      line-height: 1;
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
      padding: 12px 20px !important;
      letter-spacing: .05em;
      pointer-events: none;
      cursor: default;
      font-size: 0.9rem;
      text-transform: uppercase;
      color: #98a6ad;
      font-family: 'Hind Madurai', sans-serif; }
    .sidebar .sub-container .right-subcontainer .pull-right {
      margin-left: 0 !important;
      margin-right: 0 !important; }

.sidebar-toggle {
  float: left;
  padding: 15px 15px;
  font-family: fontAwesome;
  color: #000; }
  .sidebar-toggle:before {
    content: "\f0c9"; }

.navbar-rightside {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0; }
  .navbar-rightside .navbar-nav {
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    height: 60px;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
    -webkit-flex-direction: initial;
    margin-right: 10px; }
  .navbar-rightside li {
    color: #333;
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    white-space: nowrap;
    line-height: 60px; }
    .navbar-rightside li a {
      color: #333;
      padding: 0; }
    .navbar-rightside li .user-img {
      width: 36px;
      height: 36px;
      border-radius: 50%; }
    .navbar-rightside li .user-title {
      color: #333;
      margin-left: 5px;
      margin-right: 5px;
      font-size: 0.9rem; }

.main-content {
  margin-left: 260px;
  overflow: hidden;
  font-size: 0.9rem; }
  .main-content .content-subcontainer {
    padding: 0 20px 20px 20px; }

.content-header {
  padding: 20px;
  border-bottom: 1px solid #eee;
  margin: 0 -20px 20px -20px; }
  .content-header .page-title {
    margin-bottom: 0;
    float: left;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.6rem;
    color: #444;
    font-weight: 400; }
  .content-header .breadcrumb {
    float: right;
    background-color: transparent !important; }
    .content-header .breadcrumb li {
      display: inline-block; }
      .content-header .breadcrumb li .active {
        color: #777; }
      .content-header .breadcrumb li:before {
        padding: 0 5px;
        color: #ccc;
        content: "/\00a0"; }
